body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(pexels-enginakyurt-1435904.jpg);
    background-size: cover; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-top: 2rem;
    background-color: rgba(51, 48, 48, 0.737);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    backdrop-filter: blur(5px);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

/* NAVIGATIOON BAR CSS*/
#main-nav {
    background: rgba(51, 48, 48, 0.737);
    border-radius: 1rem;
    display: flex;          
    align-items: center;    
    justify-content: space-between; 
    padding: 1rem;          
    backdrop-filter: blur(5px);
}

nav ul {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;          
    list-style-type: none;  
    padding: 0;            
    margin: 0;             
}

nav ul li {
    padding: 1rem;
}

#logo {
    width: 100px;
    height: auto;
}

a {
    text-decoration: none;
}

a:link {
    color: whitesmoke;
}
a:visited {
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 70vh;
    background-color: rgba(160, 110, 9, 0.712);
    border-radius: 1rem;
}

#settings {
    margin-top: 4rem;
    margin-left: 20rem;
    width: 40px;
    height: auto;
}

#settings:hover {
    background-color: rgba(160, 110, 9, 0.401);
    border-radius: 0.8rem;
}

#avatar {
    margin-top: 1rem;
    width: 180px;
    height: 180px;
    border-style: groove;
    border-color: rgba(160, 110, 9, 0.712);
    border-radius: 50%;
    object-fit: cover;
}

/* FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(51, 48, 48, 0.737);
    border-top-style: groove ;
    border-color: black;
}

footer h6 {
    color: whitesmoke;
    font-weight: 500;
}