

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(pexels-enginakyurt-1435904.jpg);
    background-size: cover; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: groove;
    border-color: rgba(245, 245, 245, 0.395);
    height: 90vh;
    width: 80vh;
    background-color: rgba(51, 48, 48, 0.737);
    backdrop-filter: blur(5px);
}

.main-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
    padding: 0.5rem;
    gap: 50px;
}

.first-con {
    display: flex;
    flex-direction: column;
}

.second-con {
    display: flex;
    flex-direction: column;
}

h2 {
    color: whitesmoke;
    text-align: center;
    align-items: center;
}

input {
    margin-top: 5px;
    border-radius: 0.5rem;
    height: 30px;
    width: 25vh;
}

main button {
    margin-top: 5rem;
    padding: 0.5rem;
    width: 15vh;
    border-radius: 1rem;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.414);
}

main button:hover {
    background-color: rgb(198, 198, 198);
}
